<header style="background-color: #f8f8f8;">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-3">
                <div id="logo_home">
                    <h1><a href="{% url 'index'%}" ></a></h1>
                </div>
            </div>
            <div class="col-9">
                <div id="social">
                    <ul>
                        <li><a href="https://www.facebook.com/anantsoftcomputing/" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/anantsoft" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://instagram.com/anantsoftcomputing" target="_blank"><i class="icon-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/anant-soft-computing/?viewAsMember=true" target="_blank"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /social -->
                <nav>
                    <ul class="cd-primary-nav">
                        <li><a href="{% url 'index'%}" class="animated_link">Home</a></li>
                        <li><a href="{% url 'about'%}" class="animated_link">About</a></li>
                        <li><a href="{% url 'our-team'%}" class="animated_link">Team</a></li>
                        <li><a href="{% url 'portfolio'%}" class="animated_link">Portfolio</a></li>
                        <li><a href="{% url 'career'%}" class="animated_link">Career</a></li>
                        <li><a href="{% url 'contact-us'%}" class="animated_link">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /container -->
</header>
<!-- /Header -->
