<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
	


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="STEPS | Multipurpose Working Wizard with Branches">
    <meta name="author" content="Ansonika">
    <title>STEPS | Multipurpose Working Wizard with Branches</title>
    
    <!-- Favicons-->
    
    <link rel="shortcut icon" href="{% static 'img/logoasc.png' %}" type="image/x-icon">
    <link rel="icon"  href="{% static 'img/logooo.png' %}"type="image/x-icon">
    <link rel="icon" type="image/x-icon" sizes="72x72" href="{% static 'img/logoasc.png' %}">
    <link rel="icon" type="image/x-icon" sizes="114x114" href="{% static 'img/logoasc.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/logoasc.png' %}">
    
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!-- BASE CSS -->
  <link  href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css\style.css' %}" rel="stylesheet">
    <link  href="{% static 'css\menu.css' %}" rel="stylesheet">
    <link  href="{% static 'css\vendors.css' %}" rel="stylesheet">
    <link  href="{% static 'css\icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css\skins/square/grey.css' %}" rel="stylesheet">
    <link href="{% static 'css\lifeatasc.css' %}" rel="stylesheet">
     <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css\custom.css' %}" rel="stylesheet">
    <script src="{% static 'js\modernizr.js' %}" rel="stylesheet"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
<style>
    body {
	background: #020520;
	perspective: 500px;
	overflow-x: hidden;
}

figure {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 50vh;

	$photos: 10;

	@for $i from 1 through $photos {
		&:nth-child(#{$i}) {
			img {
				$rotation: (($i - 1)/ ($photos - 1)) - 0.5;
				transform: scale(0.6) rotate($rotation * 25deg);
			}
		}
	}

	img {
		width: 100vmin;
		height: 100vmin;
		border-radius: 3px;
	}
}

</style>
  
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <!-- Modernizr -->
    
    
    </head>
<body>
  {% include "header.html"%}
  <main>
    <div class="doodle">
      {%include "doodle.html"%}
    </div>
     <div class="question_title">
        <h1>Life At Asc</h1>
     </div>
     <div style="margin-bottom:20px;margin-top:30px;">
         <figure><img src="{% static 'img/gallery/1.jpg' %}" width="500" height="500"/></figure>
         <figure><img src="{% static 'img/gallery/3.jpg' %}" width="500" height="500"/></figure>
        <figure><img src="{% static 'img/gallery/2.jpg' %}" width="500" height="500"/></figure>
        <figure><img  src="{% static 'img/gallery/4.png' %}" width="500" height="500"/></figure>
       <figure><img src="{% static 'img/gallery/5.jpg' %}" width="500" height="500"/></figure>
       <figure><img src="{% static 'img/gallery/6.jpg' %}" width="500" height="500"/></figure>

     </div>   

<!-- <div class="row1 ">
  <div class="column1">
    <img src="{% static 'img/gallery/1.jpg' %}" alt="Nature" width=200 height=200 onclick="myFunction(this);">
  </div>
  <div class="column1">
    <img src="{% static 'img/gallery/2.jpg' %}"alt="Snow" width=200 height=200  onclick="myFunction(this);">
  </div>
  <div class="column1">
     <img src="{% static 'img/gallery/3.jpg' %}"alt="Mountains"width=200 height=200  onclick="myFunction(this);">
  </div>
  <div class="column1">
    <img src="{% static 'img/gallery/4.png' %}" alt="Lights"width=200 height=200  onclick="myFunction(this);">
  </div>
  <div class="column1">
    <img src="{% static 'img/gallery/5.jpg' %}" alt="Lights"width=200 height=200  onclick="myFunction(this);">
  </div>
  <div class="column1">
    <img src="{% static 'img/gallery/6.jpg' %}" alt="Lights"width=200 height=200 onclick="myFunction(this);">
  </div>
 
  
</div>

<div class="container1">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:50%">
  <div id="imgtext"></div>
</div>-->



</main>   
  <footer>
      {% include "footer.html"%}
  </footer>
  <div class="cd-overlay-nav">
    <span></span>
</div>
<!-- /cd-overlay-nav -->

<div class="cd-overlay-content">
    <span></span>
</div>
<!-- /cd-overlay-content -->

<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
<script src="{% static 'js\jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js\common_scripts.min.js' %}"></script></script>
<script src="{% static 'js\menu.js' %}"></script>
<script src="{% static 'js\main.js' %}"></script>
<script src="{% static 'js\wizard_func_multiple_branch.js' %}"></script>	

	
</body>
</html>