<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
	


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Anant Soft Computing is a leading Software Development (CRM & ERP), Web Development & Best SEO Company in Vadodara (Gujarat, India) which is one of the most happening IT Software hub of India.">
    <meta name="author" content="Ansonika">
   <title>MachineLearning | Anant Soft Computing</title>
    
    <!-- Favicons-->
    
    <link rel="shortcut icon" href="{% static 'img/logoasc.png' %}" type="image/x-icon">
    <link rel="icon"  href="{% static 'img/logooo.png' %}"type="image/x-icon">
    <link rel="icon" type="image/x-icon" sizes="72x72" href="{% static 'img/logoasc.png' %}">
    <link rel="icon" type="image/x-icon" sizes="114x114" href="{% static 'img/logoasc.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/logoasc.png' %}">
    
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!-- BASE CSS -->
    <link  href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css\style.css' %}" rel="stylesheet">
    <link  href="{% static 'css\menu.css' %}" rel="stylesheet">
    <link  href="{% static 'css\vendors.css' %}" rel="stylesheet">
    <link  href="{% static 'css\icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css\skins/square/grey.css' %}" rel="stylesheet">
    
     <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css\custom.css' %}" rel="stylesheet">
    <script src="{% static 'js\modernizr.js' %}" rel="stylesheet"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    
    <script>
       $(document).ready(function(){
         $('.chkcvalues').click(function(){
           var txt="";
           $('.chkcvalues:checked').each(function(){
             txt+=$(this).val()+","
           });
           txt=txt.substring(0,txt.length-1);
           $('#txtvalues').val(txt);
           $('#cms').val(txt);
           $('#front').val(txt);
          
         }
         );
       }
       );
    </script>
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <!-- Modernizr -->
    
    
    </head>
<body>
  {% include "header.html"%}
  <main>
    <div class="doodle">
      {%include "doodle.html"%}
        </div>
  <div class="container" style="padding-bottom: 30px;">
	
    <div class="step" data-state="budget">
        <div class="question_title">
            <h1>Machine Learning</h1>
        </div>
        <form method="POST" id="form7">
          {% csrf_token %}
        <div class="row" style="padding-bottom:50px;">
            <div class="col-lg-3">
                <div class="item">
                    <input id="branch_7_answer_1" type="radio" name="branch_7_answers" group='branch_7_answers' value="machine learning" class="required"  onclick="document.getElementById('form7').submit();" >
                    <label for="branch_7_answer_1"><img src="{% static 'img/seo_icon_2.svg' %}" alt="Mon image" /><strong>Machine Learning</strong>We help solve business challenges, enable data-driven decision making & create innovative business models.</label>
                </div>
            </div>
            <div class="col-lg-8">
              <div class="item">
                <p style="padding-top: 30px;">Our machine learning services offer advanced algorithms to help organisations in solving key business challenges, enabling data-driven decision making and creating innovative business models. We create future-ready ML-powered applications by using techniques like pattern recognition, computational intelligence, nature-inspired algorithms and mathematical optimisation.</p>
                <p>We help you explore the possibilities of machine learning for your business growth and then create cutting-edge solutions to take its fullest advantage. We own skillful expertise in implementing machine learning for anomaly detection, future forecasting, spam filtering, opinion reviews, product recommendations and much more.</p>	
              </div>
            </div>
        </div>
        
      </form>
      <!--<button type="submit" name="backward" class="backward" style="margin-left: 80px;margin-top: 20px; background-color: #0073e5;"><a href="{% url 'index' %}" style="color:white;">Backward</a></button></div>-->
      <a  name="backward" class="backward btn btn-primary" style="background-color: #0073e5;margin-left: 90px;margin-top: 10px;" href="{% url 'index' %}">Back</a>
    </div>
  </div>
  </main>
   
  <div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	<a href="/#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
  <script src="{% static 'js\jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js\common_scripts.min.js' %}"></script></script>
	<script src="{% static 'js\menu.js' %}"></script>
	<script src="{% static 'js\main.js' %}"></script>
	<script src="{% static 'js\wizard_func_multiple_branch.js' %}"></script>	
	
      
    </body>
     <footer>
		{% include "footer.html"%}
	</footer>
    </html>