<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Anant Soft Computing is a leading Software Development (CRM & ERP), Web Development & Best SEO Company in Vadodara (Gujarat, India) which is one of the most happening IT Software hub of India.">
    <meta name="author" content="Ansonika">
    <title>Our Team| Anant Soft Computing</title>

    <!-- Favicons-->
	
    <link rel="shortcut icon" href="{% static 'img/logoasc.png' %}" type="image/x-icon">
    <link rel="icon"  href="{% static 'img/logooo.png' %}"type="image/x-icon">
    <link rel="icon" type="image/x-icon" sizes="72x72" href="{% static 'img/logoasc.png' %}">
    <link rel="icon" type="image/x-icon" sizes="114x114" href="{% static 'img/logoasc.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/logoasc.png' %}">

    <!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
	<link  href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet">
	<link  href="{% static 'css\style.css' %}" rel="stylesheet">
	<link  href="{% static 'css\menu.css' %}" rel="stylesheet">
	<link  href="{% static 'css\vendors.css' %}" rel="stylesheet">
	<link  href="{% static 'css\icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
	<link  href="{% static 'css\skins/square/grey.css' %}" rel="stylesheet">
    
	 <!-- YOUR CUSTOM CSS -->
   <link href="{% static 'css\custom.css' %}" rel="stylesheet">
   <link href="{% static 'css\team.css' %}" rel="stylesheet">

   <script src="{% static 'js\modernizr.js' %}" rel="stylesheet"></script>
	
   <!-- Modernizr -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
	

</head>
<body>

<div id="preloader">
	<div data-loader="circle-side"></div>
</div><!-- /Preload -->

<div id="loader_form">
	<div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->
{% include "header.html"%}

 


<main>
	<div class="doodle">
		{%include "doodle.html"%}
	    </div>
	<div class="container margin_60_35">
		<div class="row">
			<section class="section-team">
		      <div class="container">
			<!-- Start Header Section -->
			<div class="row justify-content-center text-center">
				<div class="col-md-8 col-lg-6">
					<div class="header-section">
						<h1 >Our Experts</h1>
						<h3 >Let's meet with our team members</h3>
					</div>
				</div>
			</div>
			<!--<div class="row justify-content-center text-center">
				<!-- Start Single Person 
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/jeegarsir.jpg' %}" alt="">
							<span class="icon">
								<i class="fab fa-html5"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">Jeegar Desai</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/jeegar-anant-desai-093629b8/" class="speciality">Company CEO</a></span>
						</div>
					</div>
			</div>-->
				<!-- / End Single Person -->
			<!-- / End Header Section -->
			<div class="row">
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/jeegarsir.jpg' %}" alt="">
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Jeegar <br/> Desai</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/jeegar-anant-desai-093629b8/" class="speciality" target="_blank">Company CEO</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/jasmin.jpg' %}" alt="">
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Jasmin Shukla</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/jasmin-shukla/" class="speciality" target="_blank">Sr. PHP Developer</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/vijendrasinh.jpg' %}" alt="">
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Vijendra Sinh Solanki</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/vijendrasinh/" class="speciality" target="_blank">SEO Manager</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/gifty.jpg' %}" alt="">
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Gifty Varghese</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/gifty-varghese-8b3a58109/" class="speciality" target="_blank">Business Analyst</a></span>
						</div>
					</div>
				</div>
				
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/bhavika.jpg' %}" alt="">
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Bhavika Sharma</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/bhavika-sharma-0518b2186/" class="speciality" target="_blank">Jr. PHP Developer</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/kushal.jpg' %}" alt="">
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Kushal Kansara</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/kushal-v-i-kansara-999848171/" class="speciality" target="_blank">Graphics Designer</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/pooja.jpg' %}"alt="Mon image" />
							
						</div>
						<div class="person-info">
							<h3 class="full-name">Pooja Parmar</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/pooja-parmar-bba1b4203/" class="speciality" target="_blank">Jr. PHP Developer</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{% static 'img/ourteam/vidhita.jpg' %}"alt="Mon image" />
							<!--<span class="icon">
								<i class="fab fa-js"></i>
							</span>-->
						</div>
						<div class="person-info">
							<h3 class="full-name">Vidhita Mistry</h3>
							<span class="speciality"><a href="https://www.linkedin.com/in/vidhita-mistry-54b467218/" class="speciality" target="_blank">Accountant</a></span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
			
	          </section>


			</div>
		</div>
	</main>
	<!-- /main -->
	
	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
	
	<!-- COMMON SCRIPTS -->
  
	<script src="{% static 'js\jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js\common_scripts.min.js' %}"></script></script>
	<script src="{% static 'js\menu.js' %}"></script>
	<script src="{% static 'js\main.js' %}"></script>
	<script src="{% static 'js\wizard_func_multiple_branch.js' %}"></script>	
	
	
	<!-- Google map -->
    

    <script src="{% static 'http://maps.googleapis.com/maps/api/js' %}"></script>
    <script src="{% static 'js/mapmarker.jquery.js' %}"></script>
	<script src="{% static 'js/mapmarker_func.jquery.js' %}"></script>
	
	
</body>
<footer>
    
 <div>
       <div class="row" >
           <div class="col-lg-3" style="padding-left:80px;">
              <div class="box_contact">
                    <i class="pe-7s-map-marker" ></i>
                   <h6 class="font-weight-bold">Address</h6>
                    <p>1C Satyam Apartment,
                    Vishwas Colony, Alkapuri,
                    Vadodara, Gujarat 390005</p>
                    <form action="https://www.google.com/maps/dir/22.2794605,73.1469354/Satyam+Apartment,+1C,+Vishwas+Colony,+Alkapuri,+Vadodara,+Gujarat+390005/@22.2947961,73.1217573,13.5z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x395fc5873e594259:0xda3dc91c20f4beec!2m2!1d73.1713566!2d22.3094348" method="get" target="_blank">
                        <input type="submit" value="Get directions" class="btn_1">
                    </form>
                </div>
             </div>
            
            <div class="col-lg-3"style="padding-left:80px;">
                <div class="box_contact">
                    <i class="pe-7s-mail-open-file"></i>
                    <h6 class="font-weight-bold">Write To Us</h6>
                    <a class="a1" href="mailto:support@anantsoftcomputing.com">support@anantsoftcomputing.com</a>
                </div>
            </div>
            
            <div class="col-lg-3"style="padding-left:80px;">
                <div class="box_contact">
                    <i class="pe-7s-call"></i>
                    <h6  class="font-weight-bold">Give Us a Call</h6>
                    
     <a  class="a1"
         href="tel:+91-2652320199">+91 2652320199</a>
                </div>
                
            </div>
            <div class="col-lg-3" style="padding-left:80px;">
                <div class="box_contact">
                    <i class="pe-7s-link"></i>
                    <h6 class="font-weight-bold">Useful Links</h6>
                   <ul><li><a href="{% url 'index'%}">Home</a> </li><br/>
                  <li> <a href="{% url 'about'%}">About</a></li><br/> 
                  <li><a href="{% url 'our-team'%}">Our Team</a></li><br/>
                  <li><a href="{% url 'portfolio'%}">Portfolio</a></li><br/>
                <li><a href="{% url 'contact-us' %}">Contact Us</a></li>  </ul>
                  
                </div>
            </div>
           
        </div>
        <div class="row justify-content-center" >
            <ul >
               <li>© 2021 ASC. All rights reserved by Anant Soft Computing.</li>
            </ul>
        </div>
    </div>

	</footer>
</html>