<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Anant Soft Computing is a leading Software Development (CRM & ERP), Web Development & Best SEO Company in Vadodara (Gujarat, India) which is one of the most happening IT Software hub of India.">
    <meta name="author" content="Ansonika">
   <title>Portfolio| Anant Soft Computing</title>

    <!-- Favicons-->
	
    <link rel="shortcut icon" href="{% static 'img/logoasc.png' %}" type="image/x-icon">
    <link rel="icon"  href="{% static 'img/logooo.png' %}"type="image/x-icon">
    <link rel="icon" type="image/x-icon" sizes="72x72" href="{% static 'img/logoasc.png' %}">
    <link rel="icon" type="image/x-icon" sizes="114x114" href="{% static 'img/logoasc.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/logoasc.png' %}">

    <!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
	<link  href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet">
	<link  href="{% static 'css\style.css' %}" rel="stylesheet">
	<link  href="{% static 'css\menu.css' %}" rel="stylesheet">
	<link  href="{% static 'css\vendors.css' %}" rel="stylesheet">
	<link  href="{% static 'css\icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
	<link  href="{% static 'css\skins/square/grey.css' %}" rel="stylesheet">
    
	 <!-- YOUR CUSTOM CSS -->
   <link href="{% static 'css\custom.css' %}" rel="stylesheet">
   <script src="{% static 'js\modernizr.js' %}" rel="stylesheet"></script>
	
   <!-- Modernizr -->

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	{% include "header.html"%}
	
	
	<main>
		<div class="doodle">
			{%include "doodle.html"%}
			</div>
		<div class="container">
			<div id="wizard_container">
				<form name="example-1" id="wrapped" method="POST">
					<input id="website" name="website" type="text" value="">
					<!-- Leave input above for security protection, read docs for details -->
					<div id="middle-wizard">
						
						<!-- First branch What Type of Project ============================== -->
						<div class="step" data-state="branchtype">
							<div class="question_title">
								<h1>Our Portfolio</h1>
								<!--<p>Selection with Branch (First Branch). Web Development have a <strong>Second Branch</strong>.</p>-->
							</div>
							<div class="row" >
								<div class="col-lg-4">
									<div class="item1" >
										
										<label ><a href="https://www.edustation.online/" target="_blank"><img src="{% static 'img/portfolio/1.jpg' %}"  class="portfolio"></a><strong><h4>Edustation Online</h4></strong><p>EduStation is a platform that allows seamless and flexible IELTS online learning opportunities with increased instructor-student time.Using EduStation’s course and tools, instructors can share exclusive content while the students get to consume the same at their own pace..</p></label>
									</div>
								</div>
								<div class="col-lg-4" >
									<div class="item1">
										

										<label ><a href="https://www.getfitwithnelson.com/" target="_blank"><img src="{% static 'img/portfolio/2.jpg' %}"  class="portfolio"/></a><strong><h4>Get Fit With Nelson</h4></strong><p>GetFitWithNelson  is informative website that shows Programs and plans for  health, nutrition and fitness information that can be accessed from anywhere over the internet. It will help everyone experience the potential of a strong & healthy body.</p></label>
									</div>
								</div>
								<div class="col-lg-4" >
									<div class="item1">
										
										<label >	<a href="https://espicrm.com/" target="_blank"><img src="{% static 'img/portfolio/17.jpg' %}"  class="portfolio"/></a><strong><h4>ESPI CRM</h4></strong><p>ESPI CRM provides end to end assistance for Admission process and help students to secure admission at the best of universities.So, whatever your interests,they will find you a course that fits your needs!
										</p></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="item1" >
										
										<label >	<a href="https://www.goodgoodcbd.com/" target="_blank"><img src="{% static 'img/portfolio/goodgoodcbd.png' %}"   class="portfolio"></a><strong><h4>GoodGood Cbd</h4></strong><p>GoodGoodCbd is a shopping website for goodgood Drops.Goodgood's proprietary blend has higher concentrations, is organic, natural, and produced in the USA, so you can love the way you feel.  </p></label>
									</div>
								</div>
								
								<div class="col-lg-4">
									<div class="item1" >
										
										<label ><a href="https://www.workcandy.in/" target="_blank"><img src="{% static 'img/portfolio/9.png' %}" alt="" class="portfolio"/></a><strong><h4>WorkCandy Warehouse</h4></strong><p>Workcandy Businesses, individual sellers and manufacturers sell their inventory to Amazon at wholesale rates.Amazon Vendor Central then gives Amazon ownership of the seller's inventory, which is then marketed and sold to shoppers on their website.</p></label>
									</div>
								</div>
								<div class="col-lg-4" >
									<div class="item1">
										
										<label >	<a href="https://www.constructskills.com/"target="_blank"><img src="{% static 'img/portfolio/skills.jpg' %}" alt="" class="portfolio"/></a><strong><h4>Construct Skills</h4></strong><p>ConstructSkills is a LMS website for unskilled civil engineers to  provide formal training and education by developing, administering, and/or maintain training initiatives to continuously develop your entire workforce.</p></label>
									</div>
								</div>
								
							</div>
							<div class="row" >
								
								<div class="col-lg-4">
									<div class="item1">
										
										<label >	<a href="https://contentowl.in/" target="_blank"><img src="{% static 'img/portfolio/owl-03.png' %}"   class="portfolio"></a><strong><h4>Content Owl</h4></strong><p>ContentOwl is small team of professionals with specialised skills. Content Owl’s network comprises talented writers, editors, photographers, directors, audio designers, VO artists, musicians, web designers and graphic designers.It thrives on creative intelligence - of combining intellect with imagination for sustainable ideas.</p></label>
									</div>
								</div>
								
								<div class="col-lg-4" >
									<div class="item1">
										
										<label ><a href="https://quindara.in/" target="_blank"><img src="{% static 'img/portfolio/quindara.png' %}" alt="" class="portfolio"/></a><strong><h4>Quindara</h4></strong><p> QuinDara communications is a new age digital content company that brings together content, technology and data delivery with high quality creatives and sales solutions. As a digital agency, pioneering performance and paid marketing. It assist in boosting client’s business online. We design content to help create the awareness about your business/company/product/services. </p></label>
									</div>
								</div>
							
							<div class="col-lg-4">
								<div class="item1">
									
									<label >	<a href="https://www.maeaesthetics.com/" target="_blank"><img src="{% static 'img/portfolio/maeaesthetics.png' %}" alt=""class="portfolio"/></a><strong><h4>Mae Aesthetics</h4></strong><p>Mae Aesthetics is a premier centre for plastic and cosmetic surgery in Vadodara.Mae Aesthetics offers a wide range of surgical and non-surgical procedures/ treatments by highly qualified, trained and experienced doctors.</p></label>
								</div>
							</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="item1">
										
										<label >	<a href="http://oecindia.com/crm/" target="_blank"><img src="{% static 'img/portfolio/18.jpg' %}"  class="portfolio"></a><strong><h4>OEC India CRM</h4></strong><p>OEC has emerged as the leading visa consultancy for overseas education in India.They help students find the best education opportunities worldwide and offer guidance throughout the visa application, funding, and pre-departure process.</p></label>
									</div>
								</div>
								
							   <div class="col-lg-4" >
								   <div class="item1">
									<label >	<a href="https://shootme.in/#home" target="_blank"><img src="{% static 'img/portfolio/shootmeowl-04.png' %}" alt="" class="portfolio"/></a><strong><h4>Shoot Me</h4></strong><p>Shoot Me is A CMS a marketplace platform that connects photographers and clients across India, Bali, and Australia.It helps to plan photoshoots with desire Ranked photographers (Registered).Book your finalized Photographer by selecting a package or directly contacting them.</p></label>
								   </div>
							   </div>
							
							<div class="col-lg-4" >
								<div class="item1">
									
									<label >	<a href="https://www.rcamusicacademy.com/" target="_blank"><img src="{% static 'img/portfolio/rcamusicacademy.png' %}" alt="" class="portfolio"/></a><strong><h4>RCA MusicAcademy</h4></strong><p>RCA Music Academy is shows different music related class like guitar,drums,keyboard,violin to promote the culture of music in a professional, structured and fun way. It was a simple idea of making music education accessible to everyone who has the passion and commitment to pursue it. </p></label>
								</div>
							</div>
						</div>
						
							<div class="row">
								<div class="col-lg-4">
									<div class="item1">
										
										<label ><a href="https://www.btlresearchlabs.com/" target="_blank"><img src="{% static 'img/portfolio/BTL-03.png' %}"   class="portfolio"></a><strong><h4>BTL Reserch Lab</h4></strong><p>BTL is Informative website that shows plasticware product range enriched with high tech machines specially designed to withstand the manufacturing of quality grade products with price,packing,catno,description so customer get inquiry about researchlabs.</p></label>
									</div>
								</div>
								<div class="col-lg-4" >
									<div class="item1">
										
										<label >	<a href="https://espi.edustation.online/" target="_blank"><img src="{% static 'img/portfolio/espi-05.png' %}" alt="" class="portfolio"/></a><strong><h4>ESPI Online</h4></strong><p>Edustation is Online study center which shows different courses related student visa and study abroad courses like IELTS, TOEFL, PTE , GRE, GMAT, SAT, and the Duolingo.</p></label>
									</div>
								</div>
								<div class="col-lg-4" > 
									<div class="item1">
										
										<label >	<a href="https://imagicbaroda.com/" target="_blank"><img src="{% static 'img/portfolio/imagic-01.png' %}" alt="" class="portfolio"/></a><strong><h4>I Magic Vadodara</h4></strong><p>iMaGic Baroda is a leading Apple authorized re-seller having 2 state-of-art stores across Vadodara with trained sales & technical personnel, assuring you of a magical experience of buying your favorite Apple Product.</p></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="item1" >
										
										<label >	<a href="https://www.mailpokes.com/" target="_blank"><img src="{% static 'img/portfolio/mailpokes.jpg' %}"   class="portfolio"></a><strong><h4>Mailpokes</h4></strong><p>A Mailpokes  is a company that allows its customers to send email messages to multiple lists of recipients at a specified time. With this service, you can send a single message to thousands of people on a mailing list or a personalized email to each address on a list.</p></label>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="item1">
										
										<label >	<a href="https://www.mujseshaadikaroge.com/" target="_blank"><img src="{% static 'img/portfolio/msk-02.png' %}" class="portfolio" alt=""/></a><strong><h4>Mujse Shadi Karoge</h4></strong><p>Mujse Shaadi Karoge is an effort to bring soulmates together. They help you write your ‘happily ever after’ just the way  you dream it!They work with you to arrange religious functions, complete event management and even help you shop better.</p></label>
									</div>
								</div>
								<div class="col-lg-4" >
									<div class="item1">
										
										<label >	<a href="https://www.oecindia.com/" target="_blank"><img src="{% static 'img/portfolio/oecweb.png' %}" alt="" class="portfolio"/></a><strong><h4>OEC India</h4></strong><p>OEC has emerged as the leading visa consultancy for overseas education in India.They help students find the best education opportunities worldwide and offer guidance throughout the visa application, funding, and pre-departure process.</p></label>
									</div>
								</div>
							</div>
							
							
								
						</div>
					</div>	
				</form>		
			</div>
		</div>		
						
	</main>
	<!-- /main -->
	
	
	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
	
	<!-- COMMON SCRIPTS -->
  
	<script src="{% static 'js\jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js\common_scripts.min.js' %}"></script></script>
	<script src="{% static 'js\menu.js' %}"></script>
	<script src="{% static 'js\main.js' %}"></script>
	<script src="{% static 'js\wizard_func_multiple_branch.js' %}"></script>	
	<!-- Google map -->
    

   
</body>
<footer>
	{% include "footer.html"%}
    </footer>
</html>